# -----------------------------------------
# NPM
# ----------------------------------------

node_modules/
*.swp
npm-debug.log


# ----------------------------------------
# ENV
# ----------------------------------------
.env


